<a href="https://colab.research.google.com/github/pitchikakumaraveeravenkataganesh/python3-batch7-day9-assignment-no-1/blob/master/python_3_batch7_day_9_assignment_no_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

using unittesting given number is prime or not

In [35]:
def test_prime(n): 
  if(n==1):
      return False
  elif (n == 2):
      return True;
  else:
      for x in range(2,n):
        if (n % x == 0):
                     return False
      return True 

print(test_prime(9))

print(test_prime(2))

False
True